@charset "utf-8";

/* 본문 공통 */

body{
		font:12px/18px Malgun Gothic,맑은 고딕, Dotum, Tahoma, Verdana, AppleGothic, Sans-serif;
		color:#333;
		line-height:18px;
		padding:0px;
		margin:0px;
		background:/*@background-image=url(images/bg.gif)*/ url("images/bg.gif") /*@*/ 
		/*@background-image-position=top left*/ top left /*@*/
		/*@background-image-repeat=repeat*/ repeat /*@*/
		/*@background-color=#D5D5D5*/ #D5D5D5 /*@*/;
}
a:link          { color:#333;     text-decoration:none;}
a:visited       { color:#333;     text-decoration:none;}
a:hover         { color:#c45050;  text-decoration:none;}
a:active        { color:#333;     text-decoration:none;}


/* 종류별 코멘트 [##_rp_rep_class_##] */
    .rp_general             { }
    .rp_admin               { }
    .rp_secret              { color:#f30; }
/* 종류별 코멘트 [##_guest_rep_class_##] */
    .guest_general          {  }
    .guest_admin            {  }
/* 비밀 댓글 (로그아웃시 비밀글 표현)    */
    .hiddenComment { color:#c45050;  font-weight:normal;}

/* 이미지 아래 캡션 스타일 */
    .cap1                   { color:#999;  text-align:center;}
/* 그림 */
    .imageblock             { }
/* 왼쪽 */
    .left                   { }
/* 가운데 */
    .center                 { }
/* 오른쪽 */
    .right                  { }
/* 그림 2개 배치 */
    .dual                   { background-color:#fff; margin-bottom:5px;}
/* 그림 3개 배치 */
    .triple                 { background-color:#fff; margin-bottom:5px;}
/* 본문 - more / less */
    .moreless_fold          { background:url(images/iconMore.gif) top left no-repeat;  padding-left:20px; color:#000;}
    .moreless_top           { background:url(images/iconLess.gif) top left no-repeat;  padding-left:20px; color:#000;}
    .moreless_body          { padding-bottom:15px;}
	.moreless_bottom        { background:url(images/iconLess.gif) top right no-repeat;  padding-right:20px; color:#999; text-align:right;}

hr              { display:none; }
img             { border:0;}
h1, h2, h3, h4  { margin:0;  padding:0;}
h1              { font-size:2.2em;}
h2              { /*font-family:dotum,tahoma;*/ font-size:2.0em; padding-bottom:5px;}
h3              { /*font-family:tahoma;*/ font-size:1.8em; padding-bottom:5px; }
h4              { font-size:11px; padding-bottom:5px;}
input           { border:1px solid #aaa; font-size:11px; }
textarea        { border:1px solid #aaa; font-size:11px; }


/* 블로그 레이아웃 */
/* 본문 글 넓이를 변경 하려면 아래에서 container와 content의 width를 변경하시기 바랍니다. */
/* 이때 index.xml에서 본문 넓이(contentWidth) 변경후 스킨 리셋 (다른 스킨으로 변경후 다시 현재 스킨 선택) 하시기를 권장합니다. */

#tool  {
	width:100%;
	min-height:10px;
	border:0px solid #999999;
	clear:both;
}

/* ***** head bar ***** */
#headbar {
	background-color: #3B5998;
	height: 41px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-size: 1.2em;
}

#headbar .blogTitle     {
	padding-top:/*@title-height:-35=padding-top:*/ 25px /*@*/;
	padding-bottom:25px;
	padding-left:2px;
	font-size:30px;
	border:0px solid #333333;
}

#headbar .blogTitle  a  {
	color:/*@title-color=*/ #000000 /*@*/;
	font:/*@title-font-size=1.0em*/ 1.0em /*@*/ /*@title-font-family=*/ tahoma,dotum /*@*/;
	font-weight:bold; float:left; 
	padding-bottom:3px;
	border-bottom:2px dotted #c45050;
}

#headbar .logo {
	position: relative;
	left:5px;
	top:0px;
	font: "Malgun Gothic bold","맑은 고딕 bold";
	font-size: 1.3em;
	font-weight: bold;
	/*margin:0 8pt;*/
	margin: auto;
	width: 1200px;
	padding:8px 0 5px 9px;
	display:block;
	height: 22px;
}

#headbar .logo a {
	font: "Malgun Gothic bold","맑은 고딕 bold";
	color:#ffffff;
}

#headbar .logo .title {
	float: left;
}

/* 로고 밑에 바 */
#headbar .bar {
	position: relative;
	width: 1200px;
	margin: auto;
}

#header .sitesbackup {
	position: absolute;
	left:250px;	top:8px;
	color: black;
	background-color: rgba(255, 255, 255, 0.85);
<!--[if lte IE 8]>
	background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF); 
<![endif]-->
}


/* 구글 검색 */
#headbar .googleSearch {
	float: right;
	font-size: 0.9em;
	margin-top: -5px;
	padding-top: 0px;
	margin-left: 30px;
	color: black;
}

/* 내 사이트 목록 */
#headbar .mySiteMenu {
	float: left;
}
#headbar .mySiteMenu ul {
	margin:0;
	font-size: 0.9em;
	margin-left: 20px;
	color: black;
	list-style:none;
}

#headbar .mySiteMenu li {
	display: inline;
}

#headbar .blogMenu      {
	text-align:right; padding-right:2px;
	background-color: #DFDFDF;
	border-bottom:1px solid #C1C1C1;
	display:block
}

#headbar .blogMenu ul { margin:0;  padding-bottom:7px;  list-style:none;}
#headbar .blogMenu li { padding-bottom:3px; display:inline;  background:url(images/bullBar.gif) no-repeat;  margin-left:3px;  padding-left:7px;}
#headbar .blogMenu li a { color:#000000; font:11px tahoma; }

body#tt-body-blog #headbar .blogMenu li.tab_blog a ,
body#tt-body-page #headbar .blogMenu li.tab_blog a,
body#tt-body-category #headbar .blogMenu li.tab_blog a,
body#tt-body-search #headbar .blogMenu li.tab_blog a,
body#tt-body-archive #headbar .blogMenu li.tab_blog a,
body#tt-body-entry #headbar .blogMenu li.tab_blog a,
body#tt-body-notice #headbar .blogMenu li.tab_blog a			{ color:#c45050;}
body#tt-body-location #headbar .blogMenu li.tab_loc a		{ color:#c45050;}
body#tt-body-tag #headbar .blogMenu li.tab_tag a				{ color:#c45050;}
body#tt-body-keylog #headbar .blogMenu li.tab_key a				{ color:#c45050;}
body#tt-body-media #headbar .blogMenu li.tab_media a	 		{ color:#c45050;}
body#tt-body-guestbook #headbar .blogMenu li.tab_guest a	 	{ color:#c45050;}


/* ***** Header ***** */

#header {		
	margin-bottom:/*1*/0px;
	min-height:/*1*/0px;
	border:0px solid #555555;
	overflow:hidden;	
	/*@title-background-color=background-color:;*/ background-color: transparent; /*@*/
	/*@title-background-image=background-image:;*/ background-image: none; /*@*/
	/*@title-background-image-position=background-position:;*/ background-position: ; /*@*/
	/*@title-background-image-repeat=background-repeat:;*/ background-repeat: no-repeat; /*@*/	
	clear:both;
}

#header .header_wrap   { }


#header li.tab_blog    { background:none;  }
#header li.tab_blog a  { font-weight:bold; }



/* Head Background Image */

body#tt-body-media #content { background:url(images/bg_mcontent.gif) no-repeat; padding-top:42px; text-align:center;  }


#container {		
	width:/*@post-width:200=*/ 1190px/*970px*/ /*@*/;
	border:0px solid #777777;
	margin:0px auto; 
	padding:0px;
}

#content {
	display:block; 
	float:left;
	width:/*@post-width=*/ 770px /*@*/;
	border:1px solid #C1C1C1;
	background-color: white;

	overflow:hidden;

    background-color: rgba(255, 255, 255, 0.85);
<!--[if lte IE 8]>
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80FFFFFF,endColorstr=#80FFFFFF);
<![endif]-->

}




/* ***** ROUND BOX *** */

.box_hblank1 { padding:5px; }
.box_hblank2 { padding:10px; }

/* ***** Tool   ***** */
#tool .admin_button   { text-align:right; float: right; padding: 0px 5px 5px 0px; clear:both; margin:0px;}

/* ***** title_wrap **** */
.titleWrap a              { margin-bottom: 12px; /*@post-title-color=color:;*/ color: ; /*@*/ /*@post-title-font-family=font-family:;*/ font-family: inherit; /*@*/ /*@post-title-font-size=font-size:;*/ font-size: inherit; /*@*/} 

/* ***** artice_title : h2 hover**** */

#content .notice,
#content .keylog,
#content .localog, 
#content .taglog, 
#content .entryNotice, 
#content .entryProtected,
#content .guestbook, 
#content .searchList, 
#content .searchRplist,
#content .entry { padding:18px 18px 0px 18px;
/*	border-left:1px solid #999999;
	border-right:1px solid #999999;*/
	background:url("images/bg_entry_top.jpg") repeat-x 0px 0px; background-color:#ffffff;  }

#content .prologue h3,
#content .notice h3,
#content .profile h3,
#content .keylog h3,
#content .localog h3, 
#content .taglog h3, 
#content .guestbook h3, 
#content .searchList h3, 
#content .searchRplist h3   { border-bottom:1px solid #ccc;  margin-bottom:10px;  color:#222;}

.searchList .kw, 
.searchRplist .kw            { padding-left:3px;color:#c45050;}
.searchList ol, 
.searchRplist ol            { list-style:none;  padding:0px;  margin:0;}
.searchList li, 
.searchRplist li            { background:url(images/line_dot_gray2.gif) 0px 19px repeat-x;   padding-bottom:2px;  margin-bottom:5px;}
.searchList .date, 
.searchRplist .date         { font:10px Tahoma;  margin-right:10px; float:left; width:50px; text-align:right}
.keylog .title,
.searchList .title, 
.searchRplist .title        { padding-left:10px; font:11px Dotum, Tahoma;  margin-right:10px; float:left; }
.searchList .count, 
.searchRplist .count        { padding-left:3px; font-weight:normal; font:8px tahoma;}
.searchList .cnt            { font:9px Tahoma;  color:#f60;} 
.searchRplist .name         { font:10px Dotum, Tahoma;    color:#999;  padding-left:8px;}

.localog .spot              { background:url(images/iconIndentArrow_local.gif) 5px 0 no-repeat;  padding-left:20px;  margin-top:5px;}
.localog .info              { background:url(images/iconIndentArrow_localinfo.gif) 5px 3px no-repeat;  padding-left:15px;  margin-top:2px;}
.localog a:link             { color:#c45050;}
.localog a:visited          { color:#c45050;}
.localog a:hover            { color:#c45050;  text-decoration:none; }
.localog a:active        { color:#c45050;  text-decoration:none;}

.keylog ul                  { margin:0; text-align:justify; }
.keylog a:hover             { background-color:#eee;  color:#000;}
.key1						{ cursor: pointer; border-bottom: 1px dotted #ccc; }

.taglog ul                  { margin:0; text-align:justify;}
.taglog li                  { display:inline;}
.taglog a:hover             { background-color:#eee;  color:#000;}
.taglog li .cloud1    { font-weight:bold;  color:#B80D0D}
.taglog li .cloud2    { font-weight:bold;  color:#0D66B8}
.taglog li .cloud3    { font-weight:bold;  color:#C45050;}
.taglog li .cloud4    { }
.taglog li .cloud5    { }	

.guestbook p                { padding:6px 0 0 0; margin:0px;}

.guestWrite                     {  margin:0px; padding:10px;  background-color:#f5f5f5;  border:1px solid #ddd;}
.guestWrite .input_writer		{ float:left; margin-bottom:4px;}
.guestWrite .input_sec		    { float:right; margin-bottom:4px; }
.guestWrite input               { width:80px; }
.guestWrite textarea            { font:11px dotum,tahoma; margin-bottom:5px;width:98%;  height:100px;}
.guestWrite .homepage           { width:130px;}
.guestWrite .submit             { border:0px }
.guestWrite .checkbox           {	border:none; padding:0;	margin:0; width:20px;}

.guestList                  { padding:0px;}
.guestList ol				{ padding:0px;}
.guestList ol,
.guestList ul               { list-style:none; font:11px Dotum, Tahoma; line-height:18px; margin:0px; padding:0px; margin-top:10px;}
.guestList li p             { margin-top:5px; padding-top:5px;}
.guestList ol li            { border:5px solid #eee;  padding:10px;  margin-bottom:10px;  overflow:hidden;}
.guestList li ul li         { margin-left:20px; margin-top:10px; background:url("images/iconIndentArrow_local.gif") no-repeat 10px 10px;  background-color:#f5f5f5;  padding-left:25px; border:none;  overflow:hidden;}
.guestList li .name         { color:#666;  font-weight:bold;}
.guestList li .name   a:hover { color:#3D8EC1;  text-decoration:none;}
.guestList li .date         { font:11px Tahoma;}
.guestList .control a.modify       { background:url(images/iconModify.gif) no-repeat;  padding:0 0 2px 53px;  text-decoration:none;}
.guestList .control a.modify span  { display:none;}
.guestList .control a.write        { background:url(images/iconWrite.gif) no-repeat;  padding:0 5px 2px 53px;  text-decoration:none;}
.guestList .control a.write span   { display:none;}

/* entry */

.entryProtected h2, 
.entry h2                { /*background:url(images/icon_title.gif) 0px 3px no-repeat;*/ /*border-bottom:2px solid #ccc;*/ padding-left:0px; margin-top:8px; margin-bottom:8px;  color:#222; font-size:/*11px*/3em;}
.entryNotice h2          { background:url(images/icon_notice.gif) 0px 3px no-repeat; border-bottom:1px solid #ccc; padding-left:18px; margin-bottom:10px;  color:#222; font-size:11px;}


.titleWrap .admin        { padding-top:5px; }
.titleWrap .category     { font-size:/*11px*/1.5em;   margin-right:5px; }
.titleWrap .category_notice		{ font:11px tahoma;  margin-right:5px;}
.titleWrap .date         { font:/*8px*/1.5em Tahoma;  color:#888;}
.titleWrap h2 {font-size:2.0em; line-height:120%; margin-bottom:0px;}
.titleWrap {border-bottom:3px solid #ccc; padding-bottom:5px; margin-bottom:5px; }

.entryProtected .protected_box	{ background-color:#f9f9f9; padding:10px; }
.entryProtected .text    { background:url(images/imgProtected.gif) 15px 5px no-repeat ; font:10px Tahoma; font-weight:bold; padding-left:42px;  }
.entryProtected .text p  { padding:4px; margin:0px; }
.entryProtected input    { width:100px; height:12px; font:10px tahoma;}
.entryProtected .submit  { width:50px; height:16px;  font:10px tahoma;  background-color:#f5f5f5;}

.admin				     { font:10px tahoma,Dotum; }

/* article */
.article                 { /*@post-body-color=color:;*/ color: ; /*@*/ text-align:justify;
font-size:/*@post-body-font-size=11px*/ /*12px*/1.12em /*@*/; font-family: @post-body-font-family=돋움,tahoma /*돋움,tahoma*/ /*@*/; width:100%; margin:0px 0px 22px 0px; overflow:hidden; background-color:#ffffff; clear:both}
.article  a:link         { color:#c45050;     text-decoration:none;}
.article  a:visited      { color:#c45050;     text-decoration:none;}
.article  a:hover        { color:#c45050;     text-decoration:none;}
.article  a:active       { color:#c45050;     text-decoration:none;}

.article dt              { text-decoration:underline;}
.article dd              { margin-left:20px;  padding-bottom:10px;}
.article blockquote {
/*	font-size:11px;*/
	background:url(images/iconBlockquote.gif) top left no-repeat;
	background-color: #eee;
	padding-left:35px;
	margin-left:5px;
}

.article  ul { margin: 0 0 0 30pt; }

.article h2 {
	font-size:2em;
}

.article h1 h2 h3 h4 h5 h6 {
	border-bottom: 1px solid #CCCCCC;
}

.goup                    { float:right; width:43px; text-align:right; }
.tagTrail                { padding:0px 0px 10px 64px; background:url(images/tag.gif) 0px 1px no-repeat; }
.tagItem                 { }

.actionTrail             { clear:both;  margin-top:5px; padding:12px 1px 22px 1px; font:11px Dotum, Tahoma; background-color:#ffffff; border-top:1px solid #cccccc  }
.tbcm					 { font:11px tahoma; float:left; width:auto;padding-top:3px; background-color:#ffffff}
.tbcm_vbar				 { color:#C6C6C6; padding:0px 4px 0px 4px;}
.actionTrail .cnt        { color:#f60; padding-left:4px; font-weight:bold;}

.trackback               {
	clear:both;
	padding:10px 0px 0px 0px;
	width:100%;  overflow:hidden;
	border:3px solid #ddd;
}
.taackback ol,ul,li      { margin:0;  padding:0;   }
.trackback_address       {
/*	background:url(images/clip_tb.gif) 10px no-repeat;*/
/*	border-top:1px solid #ddd; border-bottom:1px solid #ddd;*/
/*	background-color:#F6F4F0;*/
	/*font:10px/1 tahoma;*/
	font-size: 1.3em;
	font-weight: bold;
	cursor:pointer; padding:10px 10px 10px /*1*/10px; margin:0px;
}
.trackback h2 {
	font-size: 2.0em;
	padding-left: 10px;
}
.trackback a             { color:#000;}
.trackback .from         { font-weight:normal;  padding:0px; margin:0px;}
.trackback h4            { font-weight:normal;  padding:0px; margin:0px;}
.trackback ol            { padding:0px; margin:0;  padding-top:5px; padding-bottom:5px;  list-style:none;}
.trackback li            { margin-bottom:5px; margin-top:0px; padding-top:5px; padding-bottom:10px; background:url(images/line_dot_gray2.gif) bottom left repeat-x; }
.trackback .date         { font:10px Tahoma;  color:#777;}
.trackback p             { font:11px Dotum, Tahoma; line-height:18px; margin:0px; margin-top:5px; padding:0px; padding-top:0px;color:#999;}

.trackback a.delete      { background:url(images/iconDelete.gif) left top no-repeat;  padding-left:8px;  text-decoration:none;}
.trackback a.delete span { display:none;}


.comment  {
	clear:both; padding:10px 0px 5px 0px;
	margin-top:10px;
	line-height:18px; width:100%; overflow:hidden;
	border:3px solid #ddd;
} 
.comment_title   {
/*	background:url(images/clip_reply.gif) 10px no-repeat;*/
/*	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	background-color:#F6F4F0;*/
	font-size:2.0em/* tahoma,dotum*/;
	font-weight: bold;
	padding:10px 10px 10px /*1*/10px;
}
.comment p                        { font:1.2em Malgun Gothic,맑은 고딕,Dotum, Tahoma; line-height:18px; margin:0px; padding:0px; margin-top:10px;margin-bottom:10px;}

.comment h3                       { display:none;}
.comment ol,
.comment ul                       {
	margin:0;  padding:0;
	padding-left:10px;
	list-style:none;}
.comment .date                    {
	font-size:1.2em /*Tahoma*/;
	color:#777;
	float: right;
	padding-right: 10px;
}
.comment .name                    { font-size: 1.5em; font-weight:bold;}
.comment ol li			          {
	background:url(/*images/line_dot_gray2.gif) bottom repeat-x;*/
	padding:10px 0px 2px 0px;
	border-bottom:2px solid #DDDDDD;
}
.comment li ul li                 { border:0px; padding:0px 0px 0px 35px;  background:url("images/iconIndentArrow_local.gif") no-repeat 18px 2px;}
.comment .control a.address       { font-size:14px;background:url(images/iconAddress.gif) 0px 0px no-repeat;  padding-left:38px;  padding-bottom:2px;  text-decoration:none;}
.comment .control a.address span  { display:none;}
.comment .control a.modify        { font-size:14px;background:url(images/iconModify.gif) no-repeat;  padding-left:55px;  padding-bottom:2px;  text-decoration:none;}
.comment .control a.modify span   { display:none;}
.comment .control a.write         { font-size:14px;background:url(images/iconWrite.gif) no-repeat;  padding-left:40px;  padding-bottom:2px;  text-decoration:none;}
.comment .control a.write span    { display:none;}

.commentWrite  {
	margin:0px; padding:10px;  margin-top:10px;
	/*background-color:#f5f5f5;*/
	/*border:1px solid #ddd;*/
}
.commentWrite .input_writer		  { float:left; margin-bottom:4px;}
.commentWrite .input_sec		  {
	float:right; margin-right:6px; margin-bottom:5px;
	font-size:1.4em/* tahoma*/;
}
.commentWrite input               { width:80px; }
.commentWrite textarea            { font:1.1em Malgun Gothic,맑은 고딕,dotum,tahoma; margin-bottom:5px;width:99%;  height:100px;}
.commentWrite .homepage           { width:130px;}
.commentWrite .submit             { border:0px }
.commentWrite .checkbox           {	border:none; padding:0;	margin:0; width:20px;}

/* ***** sidebarL ***** */

#sidebarL {
	display:block; 
	float:left;
	width:190px;	
	margin-right:10px;
	overflow:hidden;	
}

#sidebarL .side_item	{
	padding:/*10px 10px 10px 10px*/0px;  border-left:/*1*/0px solid #999999;
	border-right:/*1*/0px solid #999999;
/*	background-color:#f9f9f9;*/
}

#sidebarL a:link          { color:#333;  text-decoration:none;}
#sidebarL a:visited       { color:#333;  text-decoration:none;}
#sidebarL a:hover         { color:#C45050;  text-decoration:none;}
#sidebarL a:active        { color:#333;  text-decoration:none;}
         
#sidebarL ul                    { list-style:none;}
#sidebarL li                    { padding-left:0px;}
#sidebarL h3  {
	cursor:pointer; font-family:Malgun Gothic,맑은 고딕, tahoma,dotum; font-size:1.5em;
	font-weight:bold; color:#C45050;
	background:url(images/line_dot_gray.gif) 0px 22px repeat-x;
	border-bottom:1px solid #EEEEEE;
	margin-bottom:10px;
}
#sidebarL .item_title            { font-family:tahoma,dotum; font-size:11px;  font-weight:bold; color:#C45050; margin-bottom:35px;}
#sidebarL .cnt                  { font:0.85em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#f60;}
#sidebarL .date                 { font:10px Tahoma;  color:#888;}
#sidebarL .name                 { font:0.9em Dotum, Arial, sans-serif;  color:#888;}

#sidebarL .blogImage img        { width:170px; padding-bottom:0px;}
#sidebarL .blogDesc             { margin-top:10px; color:#888;  line-height:16px;  }
#sidebarL .userID               { color:#888;  background:url(images/iconBy.gif) 3px 0 no-repeat;  padding-left:22px;  letter-spacing:-1px;}

#sidebarL .notice               { margin-top:10px; padding:0;}
#sidebarL .notice li            { margin:0px; padding:0px; padding-bottom:1px; background:none;}
#sidebarL .notice a:link,
#sidebarL .notice a:visited     { background:url(images/iconNotice.gif) 0 0 no-repeat; padding:2px 0 5px 19px;}
#sidebarL .notice a:hover       { background:url(images/iconNotice_on.gif) 0 0 no-repeat; padding:2px 0 5px 19px;}


#sidebarL .category             { margin-top:10px;  margin-bottom:0px;background:none;}
#sidebarL .category h3          { margin-bottom:10px;}
#sidebarL .category li          { background:none;}
#sidebarL .category li ul li    { background:url(images/bul.gif) 0 6px no-repeat;  padding-left:10px;}
#sidebarL .category li ul li ul li { background:none; border-left:1px dotted #ccc; padding-left:6px; margin-left:2px;}
#sidebarL .category li ul li ul li a{ color:#999;}

/* 카테고리 - 이미지 버튼 */
    .ib                     { font-size:11px dotum; cursor:pointer;}
/* 카테고리 - 트리 셀 */
    .branch3                { padding-left:1px; font-size:12px; cursor:pointer;}
/* 카테고리 - 카테고리 옆 개수 스타일 */
    .c_cnt                  { font:0.75em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#f30;}

#sidebarL .archive              { margin-top:10px; font-family:tahoma;}
#sidebarL .archive select       { font-size:10px;font-family:tahoma;width:162px;}
#sidebarL .archive  input       { margin-top:5px; font:11px dotum,tahoma; width:90px;  height:13px;}
#sidebarL .archive  img         { margin-top:5px; }

#sidebarL .recentPost           { margin-top:10px; }
#sidebarL .recentSc             { margin-top:10px; }

#sidebarL .calendar             { margin-top:10px;}
#sidebarL #calendar_box		   { }
#sidebarL .calendar_box_d       { font:11px verdana; padding:0px 5px 0px 0px;}

/* 달력 월 표시 */
	.cal_month { font-size:100%; height:20px; font-family:tahoma; text-align:center; color:#e1cdbd; }
/* 달력 요일 표시 */
	.cal_week1 {font-size:100%; font-weight:normal; font-family:dotum; height:15px; text-align:center;}
/* 달력 일요일 표시 */
	.cal_week2 {font-size:100%; font-weight:normal; font-family:dotum; color: #ff845e; text-align:center;}
/* 달력 지난 달 날짜 표시 */
	.cal_day1 {	font-size:100%; font-family:tahoma; color:#000; text-align:center;}
/* 달력 다음 달 날짜 표시 */
	.cal_day2 {font-size:100%; font-family:tahoma; color: #000; text-align:center;}
/* 달력 이번 달 날짜 표시 */
	.cal_day3 {	font-size:100%; font-family:tahoma;   text-align:center;}
/* 달력 오늘 날짜 표시 */
	.cal_day4 {	font-size:100%; font-family:tahoma; text-decoration:underline; text-align:center; }
/* 달력 글쓴 날 링크 스타일 */
a.cal_click{ font-weight:bold; color:#B80D0D;}
a.cal_click:link { color:#B80D0D; text-align:center;}
a.cal_click:visited {	color:#B80D0D;	 text-align:center;}
a.cal_click:hover {	color : #fff;	 text-align:center;}


#sidebarL .tagbox               { margin-top:10px;}
#sidebarL .tagbox ul            { text-align:justify;}
#sidebarL .tagbox li            { background:none;  display:inline;}
#sidebarL .tagbox a             { letter-spacing:-1px;}	
#sidebarL .tagbox li .cloud1    { font-weight:bold;  color:#B80D0D}
#sidebarL .tagbox li .cloud2    { font-weight:bold;  color:#0D66B8}
#sidebarL .tagbox li .cloud3    { font-weight:bold;  color:#C45050;}
#sidebarL .tagbox li .cloud4    { }
#sidebarL .tagbox li .cloud5    { }	

#sidebarL .recentComment        { margin-top:10px;}
#sidebarL .recentTrackback      { margin-top:10px;}
#sidebarL .link                 { margin-top:10px;}
#sidebarL .link  li             { }
#sidebarL .yag                  { margin-top:10px;}
#sidebarL .counter              { margin-top:10px; font-size:11px; font-family:tahoma; }
#sidebarL .detail               { font-size:10px; line-height:20px; margin-top:10px;}
#sidebarL .counter .detail .total {  font-size:18px;  font-weight:bold; color:#E27F7F;  }
#sidebarL .counter .detail .tynum { color:#C45050 }

#sidebarL .btn               { margin-top:10px;}


/* ***** sidebarR ***** */

#sidebarR {
	display:block; 
	float:left;
	width:200px;	
	margin-left:10px;
	overflow:hidden;	
}

/*#sidebarR  { }*/
#sidebarR .side_item	{ padding:/*10px 10px 10px 1*/0px;  padding-left:8px; border-left:/*1*/0px solid #999999; border-right:/*1*/0px solid #999999;
/*	background-color:#f9f9f9;*/
}

#sidebarR a:link          { color:#333;  text-decoration:none;}
#sidebarR a:visited       { color:#333;  text-decoration:none;}
#sidebarR a:hover         { color:#C45050;  text-decoration:none;}
#sidebarR a:active        { color:#333;  text-decoration:none;}
         
#sidebarR ul                    { list-style:none;}
#sidebarR li                    { padding-left:0px;}
#sidebarR h3 {
	cursor:pointer; font-family:Malgun Gothic,맑은 고딕, tahoma,dotum; font-size:1.5em;
	font-weight:bold; color:#C45050;
	background:url(images/line_dot_gray.gif) 0px 22px repeat-x;
	border-bottom:1px solid #EEEEEE;
	margin-bottom:10px;
}
#sidebarR .item_title            { font-family:tahoma,dotum; font-size:11px;  font-weight:bold; color:#C45050; margin-bottom:35px;}
#sidebarR .cnt                  { font:0.85em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#f60;}
#sidebarR .date                 { font:10px Tahoma;  color:#888;}
#sidebarR .name                 { font:0.9em Dotum, Arial, sans-serif;  color:#888;}

#sidebarR .blogImage img        { width:170px; padding-bottom:0px;}
#sidebarR .blogDesc             { margin-top:10px; color:#888;  line-height:16px;  }
#sidebarR .userID               { color:#888;  background:url(images/iconBy.gif) 3px 0 no-repeat;  padding-left:22px;  letter-spacing:-1px;}

#sidebarR .notice               { margin-top:10px; padding:0;}
#sidebarR .notice li            { margin:0px; padding:0px; padding-bottom:1px; background:none;}
#sidebarR .notice a:link,
#sidebarR .notice a:visited     { background:url(images/iconNotice.gif) 0 0 no-repeat; padding:2px 0 5px 19px;}
#sidebarR .notice a:hover       { background:url(images/iconNotice_on.gif) 0 0 no-repeat; padding:2px 0 5px 19px;}


#sidebarR .category             { margin-top:10px;  margin-bottom:0px;background:none;}
#sidebarR .category h3          { margin-bottom:10px;}
#sidebarR .category li          { background:none;}
#sidebarR .category li ul li    { background:url(images/bul.gif) 0 6px no-repeat;  padding-left:10px;}
#sidebarR .category li ul li ul li { background:none; border-left:1px dotted #ccc; padding-left:6px; margin-left:2px;}
#sidebarR .category li ul li ul li a{ color:#999;}

/* 카테고리 - 이미지 버튼 */
    .ib                     { font-size:11px dotum; cursor:pointer;}
/* 카테고리 - 트리 셀 */
    .branch3                { padding-left:1px; font-size:12px; cursor:pointer;}
/* 카테고리 - 카테고리 옆 개수 스타일 */
    .c_cnt                  { font:0.75em Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#f30;}

#sidebarR .archive              { margin-top:10px; font-family:tahoma;}
#sidebarR .archive select       { font-size:10px;font-family:tahoma;width:162px;}
#sidebarR .archive  input       { margin-top:5px; font:11px dotum,tahoma; width:90px;  height:13px;}
#sidebarR .archive  img         { margin-top:5px; }

#sidebarR .recentPost           { margin-top:10px; }
#sidebarR .recentSc             { margin-top:10px; }

#sidebarR .calendar             { margin-top:10px;}
#sidebarR #calendar_box		   { }
#sidebarR .calendar_box_d       { font:11px verdana; padding:0px 5px 0px 0px;}

/* 달력 월 표시 */
	.cal_month { font-size:100%; height:20px; font-family:tahoma; text-align:center; color:#e1cdbd; }
/* 달력 요일 표시 */
	.cal_week1 {font-size:100%; font-weight:normal; font-family:dotum; height:15px; text-align:center;}
/* 달력 일요일 표시 */
	.cal_week2 {font-size:100%; font-weight:normal; font-family:dotum; color: #ff845e; text-align:center;}
/* 달력 지난 달 날짜 표시 */
	.cal_day1 {	font-size:100%; font-family:tahoma; color:#000; text-align:center;}
/* 달력 다음 달 날짜 표시 */
	.cal_day2 {font-size:100%; font-family:tahoma; color: #000; text-align:center;}
/* 달력 이번 달 날짜 표시 */
	.cal_day3 {	font-size:100%; font-family:tahoma;   text-align:center;}
/* 달력 오늘 날짜 표시 */
	.cal_day4 {	font-size:100%; font-family:tahoma; text-decoration:underline; text-align:center; }
/* 달력 글쓴 날 링크 스타일 */
a.cal_click{ font-weight:bold; color:#B80D0D;}
a.cal_click:link { color:#B80D0D; text-align:center;}
a.cal_click:visited {	color:#B80D0D;	 text-align:center;}
a.cal_click:hover {	color : #fff;	 text-align:center;}


#sidebarR .tagbox               { margin-top:10px;}
#sidebarR .tagbox ul            { text-align:justify;}
#sidebarR .tagbox li            { background:none;  display:inline;}
#sidebarR .tagbox a             { letter-spacing:-1px;}	
#sidebarR .tagbox li .cloud1    { font-weight:bold;  color:#B80D0D}
#sidebarR .tagbox li .cloud2    { font-weight:bold;  color:#0D66B8}
#sidebarR .tagbox li .cloud3    { font-weight:bold;  color:#C45050;}
#sidebarR .tagbox li .cloud4    { }
#sidebarR .tagbox li .cloud5    { }	

#sidebarR .recentComment        { margin-top:10px;}
#sidebarR .recentTrackback      { margin-top:10px;}
#sidebarR .link                 { margin-top:10px;}
#sidebarR .link  li             { }
#sidebarR .yag                  { margin-top:10px;}
#sidebarR .counter              { margin-top:10px; font-size:11px; font-family:tahoma; }
#sidebarR .detail               { font-size:10px; line-height:20px; margin-top:10px;}
#sidebarR .counter .detail .total {  font-size:18px;  font-weight:bold; color:#E27F7F;  }
#sidebarR .counter .detail .tynum { color:#C45050 }

#sidebarR .btn               { margin-top:10px;}

/* 페이징  */
.selected						{ font:11px tahoma, dotum; font-weight:bold;  color:#f30;}
.no-more-prev,
.no-more-next					{ font:11px; color:#858585;}
.paging							{ margin-bottom:15px;  text-align:center;  font:11px tahoma;}
.paging .numbox					{ border-left:1px solid #B5B5B5; padding-left:6px; margin-left:6px;  font:11px verdana;}
.paging .num					{ border-right:1px solid #B5B5B5; padding-right:8px; margin-right:5px;}

/* ***** footer ***** */
#footer							{ font:10px/1.8 tahoma,dotum; margin-top:10px;margin-bottom:20px;color:#A0A0A0}
#footer .copyright				{ text-align:center; }
#footer a:link					{ color:#888888;     text-decoration:none;}
#footer a:visited				{ color:#888888;     text-decoration:none;}
#footer a:hover					{ color:#000000;  text-decoration:none;}
#footer a:active				{ color:#888888;     text-decoration:none;}



